{;; norm1 installs the user table schema into Datomic
 ;:clj-url-shortener/url-map-schema {:txes [[
 ;  {:db/doc                " ID"
 ;   :db/ident              :user/id
 ;   :db/valueType          :db.type/string
 ;   :db/cardinality        :db.cardinality/one
 ;   :db/id                 #db/id [:db.part/db]
 ;   :db.install/_attribute :db.part/db}
 ;  {:db/doc                "User screen name"
 ;   :db/ident              :user/name
 ;   :db/valueType          :db.type/string
 ;   :db/cardinality        :db.cardinality/one
 ;   :db/id                 #db/id [:db.part/db]
 ;   :db.install/_attribute :db.part/db}
 ;  {:db/doc                "User email address"
 ;   :db/ident              :user/email
 ;   :db/valueType          :db.type/string
 ;   :db/cardinality        :db.cardinality/one
 ;   :db/unique             :db.unique/identity
 ;   :db/id                 #db/id [:db.part/db]
 ;   :db.install/_attribute :db.part/db}
 ;  {:db/doc                "User status"
 ;   :db/ident              :user/status
 ;   :db/valueType          :db.type/ref
 ;   :db/cardinality        :db.cardinality/one
 ;   :db/id                 #db/id [:db.part/db]
 ;   :db.install/_attribute :db.part/db}
 ;  ;; example of enumeration in Datomic
 ;  [:db/add #db/id [:db.part/user] :db/ident :user.status/pending]
 ;  [:db/add #db/id [:db.part/user] :db/ident :user.status/active]
 ;  [:db/add #db/id [:db.part/user] :db/ident :user.status/inactive]
 ;  [:db/add #db/id [:db.part/user] :db/ident :user.status/cancelled]]]}
 :clj-url-shortener/url-map-schema [
       {:db/doc         "Url ID"
        :db/ident       :url/id
        :db/valueType   :db.type/uuid
        :db/cardinality :db.cardinality/one
        :db/unique      :db.unique/identity}
        {:db/doc         "Url source"
        :db/ident       :url/source
        :db/valueType   :db.type/string
        :db/cardinality :db.cardinality/one}
        {:db/doc         "Url context"
        :db/ident       :url/context
        :db/valueType   :db.type/string
        :db/cardinality :db.cardinality/one}
        {:db/doc         "Url code"
        :db/ident       :url/code
        :db/valueType   :db.type/long
        :db/cardinality :db.cardinality/one}
        {:db/doc         "Url expiration time"
        :db/ident       :url/expire
        :db/valueType   :db.type/instant
        :db/cardinality :db.cardinality/one}
        ]
 }
